---
import Layout from '@/layouts/Layout.astro';
import { Image } from 'astro:assets';
import { Card, CardContent, CardFooter, CardHeader, CardTitle } from '@/components/ui/card';
import { Calendar, ChevronRight } from 'lucide-react';

const blogPosts = [
  {
    id: 1,
    title: "Congreso Universitario de Minería Ecuamining, Salinas 2024",
    date: "30 de octubre de 2024",
    slug: "aime-congreso-ecuamining-salinas-2024",
    excerpt:
      "La Asociación de Ingenieros de Minas del Ecuador (AIME) participó en el Congreso Universitario de Minería Ecuamining Salinas 2024, donde el presidente Flavio Granizo destacó la importancia de la educación continua y la sostenibilidad en la minería.",
    image: "/images/blogs/cards/congreso-ecuamining.jpeg",
  },
  {
    id: 2,
    title:
      "AIME y Viceministerio de Minas fortalecen la minería responsable en Ecuador",
    date: "25 de octubre de 2024",
    slug: "aime-viceministerio-mineria-responsable-ecuador",
    excerpt:
      "AIME sostuvo una reunión con la Viceministra de Minas, Rebeca Illescas, para fortalecer la cooperación técnica y promover la minería responsable en Ecuador.",
    image: "/images/blogs/cards/mineria-responsable.jpeg",
  },
  {
    id: 3,
    title:
      "Impulso a la minería responsable: Reflexiones del I Simposio Internacional sobre el potencial minero de Ecuador",
    date: "11 de octubre de 2024",
    slug: "impulso-mineria-responsable-simposio-ecuador",
    excerpt:
      "El I Simposio Internacional de Geología, Minería y Metalurgia reunió a expertos para debatir sobre minería sostenible en Ecuador. Se destacó la importancia de un marco legal robusto, la colaboración interinstitucional y la capacitación para impulsar una minería responsable.",
    image: "/images/blogs/cards/simposio-internacional.jpeg",
  },
  {
    id: 4,
    title:
      "Explorando la innovación y el conocimiento en el II Seminario de Geotecnia y Mecánica de Rocas",
    date: "28 de noviembre de 2024",
    slug: "innovacion-seminario-geotecnia-mecanica-rocas",
    excerpt:
      "La AIME presenta el II Seminario de Mecánica de Rocas y Geotecnia, un evento que reunirá a expertos nacionales e internacionales para abordar los retos de la ingeniería geotécnica y minera. Se destacará la importancia de la estabilidad de taludes, diseño de túneles y uso de drones en modelación geotécnica.",
    image: "/images/blogs/cards/seminario-geotecnia.jpeg",
  },
];
---

<Layout title="Blog | AIME">
  <main class="container mx-auto py-12">
    <div class="flex items-center justify-center space-x-2 mb-6">
      <div class="h-1 w-10 bg-primary"></div>
      <span class="text-sm font-medium uppercase tracking-wider text-muted-foreground">
        Publicaciones
      </span>
      <div class="h-1 w-10 bg-primary"></div>
    </div>
    <h1 class="text-4xl font-bold mb-8 text-center">Blog AIME</h1>

    <div class="max-w-3xl mx-auto mb-12">
      <p class="text-lg text-center">
        Artículos, noticias y análisis sobre el sector minero ecuatoriano,
        escritos por profesionales de la Asociación de Ingenieros en Minas del
        Ecuador.
      </p>
    </div>

    <div class="grid gap-2 md:grid-cols-2 md:gap-6 lg:grid-cols-3 lg:gap-10">
      {blogPosts.map((post) => (
        <Card
          key={post.id}
          className="flex flex-col overflow-hidden group"
        >
          <CardHeader>
            <div class="relative w-full overflow-hidden">
              <Image
                src={post.image}
                alt={post.title}
                width={600}
                height={400}
                class="w-full transition-transform duration-500 group-hover:scale-110"
              />
              <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-black/20 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex items-end pointer-events-none"></div>
            </div>
          </CardHeader>
          <CardContent className="flex-grow">
            <div class="flex items-center text-sm text-muted-foreground mb-2.5">
              <Calendar className="h-4 w-4 mr-2 text-primary" />
              <span>{post.date}</span>
            </div>
            <CardTitle className="text-2xl font-semibold leading-none tracking-tight mb-2.5 line-clamp-2">
              {post.title}
            </CardTitle>
            <p class="text-muted-foreground line-clamp-3">
              {post.excerpt}
            </p>
          </CardContent>
          <CardFooter className='mt-2'>
            <a
              href={`/blog/${post.slug}`}
              class="group/link flex items-center hover:underline text-sm text-blue-600 hover:text-primary"
            >
              Leer más
              <ChevronRight className="h-4 w-4 m-2 transition-transform duration-300 group-hover/link:translate-x-1" />
            </a>
          </CardFooter>
        </Card>
      ))}
    </div>
  </main>
</Layout>